<label id ="first_name"> <%= @person.first_name %> </label> 
<label id ="last_name"> <%= @person.last_name %> </label> 
<label id ="email"> <%= @person.email %> </label>  
<%= image_tag @person.image_url(:thumb).to_s %>

