<div id="person">
<div><%= image_tag @person.image_url(:thumb).to_s %> </div>   
<div><label id ="first_name"> <%= @person.first_name %> </label>
<label id ="last_name"> <%= @person.last_name %> </label> </div>
<div><label id ="email"> <%= @person.email %> </label></div>  
</div>

